.inline-nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  // width: 100%;
  flex: 1 1 auto;


  &__items {
    @include list-reset;
  }

  &__item {
    margin-right: $space-double;
    display: inline-flex;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: normal;
    text-decoration: none;
    color: $charcoal;
  }
}
