{% set main_nav_base_class = main_nav_base_class|default('main-nav') %}

<ul {{ bem(main_nav_base_class, (main_nav_modifiers), main_nav_blockname) }}>
  {% for item in items %}
    {% set item_modifiers = [] %}
    {% if item.in_active_trail == TRUE %}
      {% set item_modifiers = ['active'] %}
    {% endif %}
    <li {{ bem('item', item_modifiers, main_nav_base_class) }}>
      {% include "@atoms/01-links/link/link.twig" with {
        "link_content": item.title,
        "link_url": item.url,
        "link_blockname": main_nav_base_class,
        "link_modifiers": item_modifiers,
      } %}
    </li>
  {% endfor %}
</ul>
