.inline-nav {

  &__items {
    @include list-reset;
  }

  &__item {
    margin-right: $space-double;
    display: inline-flex;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: normal;
    text-decoration: none;
    color: $charcoal;
  }
}
