.branding {
  display: flex;
  align-items: center;

  &__logo {
    display: inline-block;
    padding: 2rem 1rem;
    border-right: 2px solid $charcoal20;

    @include large {
      padding: 2rem;
    }

    .logo__img {
      height: 3rem;
    }
  }

  &__slogan {
    margin-left: $space-double;
    color: $charcoal70;
    font-size: rem(20px);
  }
}
