{% set branding_base_class = branding_base_class|default('branding') %}

<section {{ bem(branding_base_class, (branding_modifiers), branding_blockname) }}>
  {% include "@atoms/04-images/00-image/figure.twig" with {
    img_src: site_logo,
    img_alt: 'Logo',
    img_url: logo_link_url|default('/'),
    image_figure_base_class: 'logo',
    image_figure_blockname: branding_base_class,
  } %}

  <div {{ bem('slogan', '', branding_base_class) }}>
    {{ site_slogan }}
  </div>
</section>
