.teaser {
  margin-top: $space-triple;

  &:first-of-type {
    margin-top: 0;
  }

  &__title {
    @include heading($font-size: rem(24px));

    margin-top: $space;
  }

  &__title-link {
    color: $charcoal;
  }

  &__body {
    @include paragraph;
  }

  &__link {
    color: $charcoal;
  }
}
