.hhs-cms {
  &__logos {
    display: flex;
    align-items: center;

    .logo {
      margin-right: $space-double;

      &:last-child {
        margin-right: 0;
      }

      &__img {
        height: 6rem;
      }
    }
  }

  &__body {
    margin: $space-double 0;
  }

  &__social {
    @include list-reset;
  }

  &__social-item {
    display: inline-flex;
    margin-right: $space-one-half;

    &:last-child {
      margin-right: 0;
    }
  }
}
