@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;
}

.layout-container {
  background-color: $charcoal3;

  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second {
    flex: 1 0 100%;
  }

  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first {
    flex: 1 0 100%;
  }

  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
    flex: 1 0 100%;
    display: block;
    margin-top: $space-triple;

    @include medium {
      display: flex;
      flex-wrap: wrap;

      .block {
        flex: 1 0 40%;
        max-width: calc(50% - #{$space-double});
        margin-left: $space;
        margin-right: $space;
      }
    }
  }

  @include large {
    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first,
    .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second {
      flex: 1 0 67%;
    }

    .layout--twocol-section--33-67 > .layout__region--first {
      flex: 1 1 30%;
      margin-right: 3%;
    }

    .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
      flex: 1 1 30%;
      margin-left: 3%;
      display: block;
      margin-top: 0;

      .block {
        flex: 1 1 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &.front {
    .layout {
      background-color: $white;

      &:nth-child(2n) {
        background-color: $charcoal3;
      }
    }
  }

  .layout {
    padding-top: $space-double;
    padding-bottom: $space-double;

    @include large {
      padding-top: $space-triple;
      padding-bottom: $space-triple;
    }

    &--onecol {
      @include breakout;

      .layout__region--content {
        @include wrapper;
      }
    }
  }
}

.layout-builder-form {
  margin-top: $space-double;
}
