.tag {
  border-radius: 3px;
  padding: 0 $space-one-half;
  background-color: $lemon;
  color: $charcoal;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__link {
    color: $charcoal;
    text-decoration: underline;
  }
}
