// Geometria
@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274692/7df46830-cc76-49e2-9a31-9b5e66f6d2f0.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274692/7df46830-cc76-49e2-9a31-9b5e66f6d2f0.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274692/94b1cc1e-d807-42ca-aaf3-6bbf596ceb05.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274692/f2ea151a-abb2-4dac-8927-6a9f59f18544.woff") format("woff"),
    url("/fonts/geometria/fonts/5274692/48782685-d39e-4ac3-ae74-6a94efe87e2f.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274776/b5470e9c-a7b0-44a5-ad3c-2435d7ea5f42.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274776/b5470e9c-a7b0-44a5-ad3c-2435d7ea5f42.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274776/bf6f0d4d-fa1d-41b2-82ce-9121554d60d9.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274776/5a7753c6-cea5-45bf-8af7-5116dc61c588.woff") format("woff"),
    url("/fonts/geometria/fonts/5274776/3da9db10-14af-4289-9cd2-a503bf7b59b0.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274026/3586f500-815c-4500-9034-ba8ca1ea0e2d.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274026/3586f500-815c-4500-9034-ba8ca1ea0e2d.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274026/7752fac9-506a-480f-87a7-da2199b8466a.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274026/ff98a6a0-ce44-4f81-b613-96a7cb7b8d5d.woff") format("woff"),
    url("/fonts/geometria/fonts/5274026/ceab3d08-0a23-457d-a881-77a39e0d2cd1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274734/2c0faef8-599b-4585-b2bb-0ab5a72067c6.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274734/2c0faef8-599b-4585-b2bb-0ab5a72067c6.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274734/17a2dfee-725f-4c7b-9ffa-aad482a25da7.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274734/775cf192-4d22-4e69-ae1f-d4e4c0795559.woff") format("woff"),
    url("/fonts/geometria/fonts/5274734/ef86c845-f48a-4f86-9d76-354d0def6b04.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274347/dc7adbb7-0f16-4711-a968-cbbf5f21e4aa.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274347/dc7adbb7-0f16-4711-a968-cbbf5f21e4aa.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274347/01606bdd-ce1e-44fe-b967-3595b25e4287.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274347/23691adf-aef8-4117-a945-0b867dc6a56e.woff") format("woff"),
    url("/fonts/geometria/fonts/5274347/c6264b03-c0a6-4b84-a6fb-4ca3da81a5e7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("/fonts/geometria/fonts/5274802/c2c95bfd-fd1b-4be9-a825-7f771e265fc8.eot?#iefix");
  src:
    url("/fonts/geometria/fonts/5274802/c2c95bfd-fd1b-4be9-a825-7f771e265fc8.eot?#iefix") format("eot"),
    url("/fonts/geometria/fonts/5274802/6605ab0e-ca73-46e6-9868-dae9776d648e.woff2") format("woff2"),
    url("/fonts/geometria/fonts/5274802/92b9d05d-b4ca-4ad6-a32e-dff591ea0394.woff") format("woff"),
    url("/fonts/geometria/fonts/5274802/af97354d-5e0f-41cd-9d3c-945c4dc08704.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

// Muli
@font-face {
  font-family: 'Muli';
  src: url('/fonts/muli/Muli-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/muli/Muli-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/muli/Muli-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/muli/Muli-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

$font-geo: 'Geometria', 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
$font-muli: 'Muli', 'Helvetica Neue', Arial, sans-serif;
