//////////////////////////
// General Variables
// Note: colors should go into
// components/_patterns/00-base/global/01-colors/_color-vars.scss
// and breakpoint related vars into
// components/_patterns/00-base/_breakpoints.scss

@import "sass-rem/rem";

// Fonts
@font-face {
  font-family: 'Biryani';
  src: url('/fonts/Biryani-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

$font-body: "Muli", sans-serif;
$font-heading: "Biryani", sans-serif;

// @import url('https://fonts.googleapis.com/css?family=Biryani:900|Muli:400,400i,700,700i&display=swap');
// $font-body: "Muli", "Helvetica Neue", Arial, sans-serif;
// $font-heading: "Geometria", "Work Sans", "Helvetica Neue", Arial, sans-serif;

// Spacing
$space: 1rem;

// times
$space-double: $space*2;
$space-triple: $space*3;
$space-quadruple: $space*4;
$space-quintuple: $space*5;
$space-sextuple: $space*6;
$space-septuple: $space*7;

// divided
$space-one-half: $space/2;
$space-one-third: $space/3;
$space-one-fourth: $space/4;
$space-one-fifth: $space/5;
$space-one-sixth: $space/6;
$space-one-seventh: $space/7;
$space-one-eighth: $space/8;
