.info-box {
  background-color: $white;
  padding: $space + $space-one-half;
  border-radius: 5px;
  box-shadow: 0 0 $space $charcoal20;
  display: block;

  &__title {
    @include heading($font-size: rem(24px));
  }

  &__subtitle {
    @include paragraph;

    color: $charcoal70;
  }

  &__body {
    @include paragraph;
  }

  &__link {
    color: $blueberry;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    margin-top: auto;

    .icon {
      margin-left: $space;
      color: $blueberry;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
