.info-box {
  @include info-box;

  &__title {
    @include heading($font-size: rem(24px));
  }

  &__subtitle {
    @include paragraph;

    color: $charcoal70;
  }

  &__body {
    @include paragraph;
  }

  &__link {
    color: $blueberry;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    margin-top: auto;

    &:hover {
      text-decoration: underline;
    }

    .icon {
      margin-left: $space;
      color: $blueberry;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
