.header {
  background-image: url('/themes/custom/emat/images/Hero-Background@1x.png');
  background-position: top center;
  background-size: cover;

  &--hero {
    background-image: url('/themes/custom/emat/images/Hero-Background@2x.png');
  }

  &__wrap {
    @include wrapper;
  }
}
