<div class="header__wrap">
  {% include "@molecules/menus/mobile-nav/mobile-nav.twig" with {
    site_logo: branding.logo,
  } %}

  {% block header_content %}
    {% include "@molecules/menus/main-nav/main-nav.twig" with {
      items: main_nav_items
    } %}
  {% endblock %}
</div>
