<header class="header">
  <div class="header__wrap">
    {% block header_content %}
      {% include "@molecules/menus/main-nav/main-nav.twig" with {
        items: main_nav_items
      } %}
    {% endblock %}
  </div>
</header>
