{#
/**
 * @file
 * Theme override to display a file form widget.
 *
 * Available variables:
 * - element: Form element for the file upload.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_file_managed_file()
 */
#}
{%
  set classes = [
    'js-form-managed-file',
    'form-managed-file',
  ]
%}

{# Remove button present after a file has already been selected #}
{% if element['#value'].fids|length > 0 %}
  {% set classes = classes|merge(['file-box']) %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ element }}
</div>
