@mixin ib-grid-item {
  flex-grow: 1;
  margin-bottom: $space-double;
  margin-right: 0;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  @include medium {
    width: 46%;
    margin-right: $space-double;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include large {
    width: 20%;
    margin-right: $space-double;

    &:nth-child(2n) {
      margin-right: $space-double;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.info-box__grid {
  @include grid;
  @include margin;

  .grid__label {
    @include ib-grid-item;

    padding: $space + $space-one-half;

    .h2 {
      @include heading($font-size: rem(44px));

      text-decoration: none;
      border: none;
    }

    .link {
      @include button-alt;

      display: flex;
      text-transform: uppercase;
      padding: $space $space-double;
      justify-content: space-around;
      align-items: center;

      &::before {
        content: " ";
      }

      .icon {
        margin-left: $space-one-half;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.info-box--grid-item {
  @include ib-grid-item;
}
