// Primary colors
$dragonfruit: #c209f2;
$blueberry: #0c2499;
$charcoal: #323a45;
$white: #fff;

// Secondary colors
$lime: #42e288;
$lemon: #ffe403;
$charcoal70: #6f757c;

// Background colors
$charcoal3: #fafafa;
$charcoal10: #eaebec;
$charcoal20: #d6d7d9;

// Some other colors
$footer-block-border: #ebeff8;
$footer-block-left-bg: #f6f8fc;
$footer-block-right-bg: #e9f0f9;

$gray-lightest: $charcoal3;
$gray-lighter: $charcoal10;
$gray-light: $charcoal20;
$gray-darker: $charcoal;
$gray-dark: $charcoal;
$gray-darkest: $charcoal;

$gray: $charcoal20;
$black: $charcoal;
$near-white: $charcoal3;
